/** Css para portfólio Tassio Gomes */

/** Fontes 
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");



/** ======= BODY - FORMATAÇÃO GERAL ====================*/
body{ 
    font-family: 'Open Sans', sans-serif;
    background-color: #040404;
    color:#fff;
    position: relative;
    background: transparent;
}
body::before {
  content: ""; /** ::before precisa de um content pra funcionar, foi iniciado vazio*/
  position: fixed;
  background: #040404 ;/*url("/img/flecha.jpg") top right no-repeat*/
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh; /** cobre toda a altura do navegador**/
  z-index: -1; /** define a ordem de empilhamento do elemento, -1 significa que fica atrás de todos*/
}

@media (min-width: 1024px) { /** define que ::before é aplicado para navegadores >= 1024px**/
  body::before {
    background-attachment: fixed; /** faz permanecer fixo mesmo que faça scroll*/
  }
}
a { /** formatação aplicada a todos os textos a */
  color: #18d26e;
  text-decoration: none;
}
a:hover {
  color: #35e888;
  text-decoration: none;
}
h1,h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}


/** ======= HEADER  ====================*/
/** header referente a esse id <header id="header"> */
#header {
    transition: ease-in-out 0.3s; /** animação de transição suave com duração de 0,3 segundos*/   
    position: relative;
    height: 100vh; /** ocupará todo o espaço vertical */
    display: flex;
    align-items: center;
    z-index: 997;
    overflow-y: auto; /** o navegador mostrará uma barra de rolagem vertical se o conteúdo do elemento transbordar de sua altura definida.*/
}
  #header * { /** aplica a todos os elementos (filhos) dentro do header*/
      transition: ease-in-out 0.3s;
  }
#header h1 {
    font-size: 48px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}
#header h1 a, #header h1 a:hover { /* aplica ao h1 a e fazer o hover (rato passando por cima)*/
  color: #fff;
  line-height: 1;
  display: inline-block; /** é mostrado em linhas mas tem uma alt e larg definida */
}
#header h2 {
    font-size: 24px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.8);
}

#header h2 span { /** aplica ao h2 span "Software Developer" */
    color: #fff;
    border-bottom: 2px solid #18d26e; /** sublinha */
    padding-bottom: 6px;
}
#header h2 span:hover {
    color: #18d26e;    
    /**border-bottom: 2px solid #fff; troca o sublinhado de verde (span acima) para branco */
    color: #18d26e;
    padding-bottom: 6px;
}
  
header img { /** faz cobrir a totalidade do navegador */
    padding: 0;
    margin: 0;
}

/** ------ header social links <div class="social-links"> ------ */
#header .social-links {
  margin-top: 40px;
  display: flex; /** organiza os elementos em linha */
}

#header .social-links a {
  font-size: 16px;
  display: flex; /** mantem sempre em uma unica linha */
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%; /** tamanho do circulo */
  width: 40px; /** altura e largura do circulo */
  height: 40px; 
}
#header .social-links a:hover {
  background: #18d26e;
} 

  /** ------ header em responsivo ------ alternativa é usar o container-fuid md" */


  @media (max-width: 992px) { /** aplica toda a customização para quando seja < 992px */
    #header h1 {
      font-size: 36px;
    }
  
    #header h2 {
      font-size: 20px;
      line-height: 30px; /** define a altura de cada linha, quando é que font-size, cria um espaço entre eles */
    }
  
    #header .social-links {
      margin-top: 15px; /** diminui para 15px, era 40px */
    }
  
    #header .container {
      display: flex; /** faz o eixo ficar flexivel (linhas ou colunas) */
      flex-direction: column; /** faz que o flex seja para colunas */
      align-items: center; /** alinha os elementos ao centro, faz sentido pq é responsivo */
    }
  }


/** ================= #NAVBAR DESKTOP ====================*/


.navbar { /** ajusta o container navbar todo em relação aos outros elementos */
  padding: 0px; /** 0px deixa bem alinhado a esquerda */
  margin-top: 35px;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex; /** faz o alinhamento em row, por default */
  /** flex-direction: column; caso quisesse em coluna */
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative; /** a posição é relativa a direção da nav bar, nesse caso, flex (row) */
}

.navbar li+li { /** aploca espaço entre elementos li, nao necessariamente ao li todo */
  margin-left: 30px;
}

.navbar a,
.navbar a:focus { /* focus é o efeito quando o elemento é clicado, diferente o :hover que é um efeito quando o rato passa. */
  display: flex;
  align-items: center;
  justify-content: space-between; /* distribui com espaços iguais horizontalmente */
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap; /* impede que o texto seja quebrado, ajustado (wrap)*/
  transition: 0.3s; /* transição suave quando o rato passa por cima */
}
.navbar a:before { /** faz um elemento aparecer antes de ser clicado, nesse caso é em e sublinhado */
  content: ""; /** Experimentar escrever algo pra ver o before explicado acima */
  position: absolute;
  width: 0;
  height: 2px; /** grossura da linha sublinhada */
  bottom: -4px; /** distância da linha pro nome  o - faz efeito de sublinhar*/
  left: 0;
  background-color: #18d26e;
  visibility: hidden; /** mantem oculta até o que o rato passe em cima */
  width: 0px;
  transition: all 0.3s ease-in-out 0s; /** aplica transição suave em todas as propriedades acima */
}
.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before { /** torna o before visivel quando é :hover e quando é active */
  visibility: visible;
  width: 30px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a { /** faz o texto dos links ficarem brancos quando passa por cima ou clica */
  color: #fff;
}

/**=================== NAV RESPONSIVO ======================= */

.mobile-nav-toggle { /** customiza o botao adicionado na linha 41 <i class="bi bi-list mobile-nav-toggle"></i> */
  color: #fff;
  font-size: 28px;
  cursor: pointer; /** faz o rato mudar de forma mostrado que é clicavel */
  display: none; /** só muda o display mostrando se estiver responsivo, inicia oculto (none) */
  line-height: 0;
  transition: 0.5s;
  position: fixed;
  right: 15px;
  top: 15px;
}
@media (max-width: 991px) { /** Aplica essas alterações quando a tela está responsiva */
  .mobile-nav-toggle { /**https://www.w3schools.com/howto/howto_js_mobile_navbar.asp */
    display: block; /** mostra o icone como bloco */
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile { /** estilos definidos após serem clicados */
  position: fixed; /** navbar fixa mesmo que o utilizador faça scroll */
  overflow: hidden; /** faz que os elementos não saiam do espaço da navbar */
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999; /** ordem de mostrar, nesse caso, sempre acima */
  margin-top: 0;
}

.navbar-mobile .mobile-nav-toggle { /** quando o toggle está na versao mobile */
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul { /** estilos para itens da lista contida na navbar */
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 45px;
  left: 15px;
  padding: 10px 0;
  overflow-y: auto; /* se os itens excederemo tamanho, cria um scroll */
  transition: 0.3s;
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.navbar-mobile li {
  padding: 12px 20px;
}

.navbar-mobile li+li {
  margin: 0;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  font-size: 16px;
  position: relative;
}

