/** Css para portfólio Tassio Gomes */

/** Fontes 
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
*/

/** body */
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #040404;
    color:#fff;
    position: relative;
    background: transparent;
}

body::before {
    content: ""; /** ::before precisa de um content pra funcionar, foi iniciado vazio*/
    position: fixed;
    background: #040404 url("/img/bg.jpg") top right no-repeat;
    background-size: cover;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh; /** cobre toda a altura do navegador**/
    z-index: -1; /** define a ordem de empilhamento do elemento, -1 significa que fica atrás de todos*/
  }

  @media (min-width: 1024px) { /** define que ::before é aplicado para navegadores >= 1024px**/
    body::before {
      background-attachment: fixed; /** faz permanecer fixo mesmo que faça scroll*/
    }
  }

 a {
    color: #18d26e;
    text-decoration: none;
  }
  
  a:hover { /** padrões aplicados quando o rato passa em cima */
    color: #35e888;
    text-decoration: none;
  }
  
  h1,h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }

  /** header referente a esse id <header id="header"> */
  #header {
    transition: ease-in-out 0.3s; /** animação de transição suave com duração de 0,3 segundos*/   
    position: relative;
    height: 100vh; /** ocupará todo o espaço vertical */
    display: flex;
    align-items: center;
    z-index: 997;
    overflow-y: auto; /** o navegador mostrará uma barra de rolagem vertical se o conteúdo do elemento transbordar de sua altura definida.*/
  }
  #header * { /** aplica a todos os elementos (filhos) dentro do header*/
    transition: ease-in-out 0.3s;
  }
  #header h1 {
    font-size: 48px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
  }
#header h1 a, #header h1 a:hover { /* aplica ao h1 a e fazer o hover (rato passando por cima)*/
  color: #fff;
  line-height: 1;
  display: inline-block; /** é mostrado em linhas mas tem uma alt e larg definida */
}
#header h2 {
    font-size: 24px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.8);
  }

#header h2 span {
    color: #fff;
    border-bottom: 2px solid #18d26e;
    padding-bottom: 6px;
  }
  #header h2 span:hover {
    color: #18d26e;    
    /**border-bottom: 2px solid #fff;*/
    color: #18d26e;
    padding-bottom: 6px;
  }
  
  #header img {
    padding: 0;
    margin: 0;
  }
/** ------ header social links <div class="social-links"> ------ */
  #header .social-links {
    margin-top: 40px;
    display: flex;
  }
  
  #header .social-links a {
    font-size: 16px;
    display: flex; /** mantem sempre em uma unica linha */
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  #header .social-links a:hover {
    background: #18d26e;
  }

  /** ------ header em responsivo ------ */


@media (max-width: 992px) {
    #header h1 {
      font-size: 36px;
    }
  
    #header h2 {
      font-size: 20px;
      line-height: 30px;
    }
  
    #header .social-links {
      margin-top: 15px;
    }
  
    #header .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  