body{ 
    font-family: 'Open Sans', sans-serif;
    background-color: #111111;
    color:#fff;
    position: relative;
    margin: 0 ;
    /*background: transparent;*/
    /**padding-left: 200px;*/
}

/** HEADER  =======================================================*/
/** header referente a esse id <header id="header"> */
#header {
    transition: ease-in-out 0.3s; /** animação de transição suave com duração de 0,3 segundos*/   
    position: relative;
    height: 100vh; /** ocupará todo o espaço vertical */
    display: flex;
    align-items: center;
    z-index: 997;
    overflow-y: auto; /** o navegador mostrará uma barra de rolagem vertical se o conteúdo do elemento transbordar de sua altura definida.*/
}
#header h1 {
    font-size: 48px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}
#header h1 a, #header h1 a:hover { /* aplica ao h1 a e fazer o hover (rato passando por cima)*/
    color: #fff;
    line-height: 1;
    display: inline-block; /** é mostrado em linhas mas tem uma alt e larg definida */
    text-decoration: none; /* tira o sublinhado do href do nome "Tassio Gomes" que por default é sublinhado*/
  }
  #header h2 {
    font-size: 24px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
}

#header h2 span { /** aplica ao h2 span "Software Developer" */
    color: #fff;
    border-bottom: 2px solid #18d26e; /** sublinha */
    padding-bottom: 3px;
    line-height: 2; 
}

#header h2 span:hover {
    color: #18d26e;    
    /**border-bottom: 2px solid #fff; troca o sublinhado de verde (span acima) para branco */
    padding-bottom: 3px;
    line-height: 2;
    transition: ease-in-out 0.6s;
}

@media (max-width: 768px) {
    #header h1 {
        font-size: 36px;
        text-align: center;
      }
    #header * { /** aplica a todos os elementos (filhos) dentro do header*/
        transition: ease-in-out 0.3s;
    }
    
    #header h2 {
    position:relative;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    /*white-space:nowrap; nao quebra o texto, mas perde a centralização, a direita invade*/
    }
    
}
    

/** NAVBAR ================================================ */

#navbar1 {
    padding: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    height: 0px; /** altura da box*/    
    width: 0px;   /** largura da box */
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
    margin-left: -7px; /* margem negativa porque ha espaço entre box da navbar e o primeiro item"
    /*background-color: transparent !important; /* transparencia da box */
    /*background-color: transparent !important;*/
}
#navbar1 .navbar-nav{
 padding-left: 0;
}
#navbar1 .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7) !important  ;
    padding: 0;
    margin-top: 0;
    margin-left: 0;
    display:flex;
    
  } 
#navbar1.navbar li {
    position: relative;
  }
  
#navbar1.navbar li+li {
    margin-left: 30px;
  }
#navbar1.navbar-nav #navbar1.nav-link:hover{
    color: white !important;
  }
#navbar1.navbar a:before { /** faz um elemento aparecer antes de ser clicado, nesse caso é em e sublinhado */
    content: ""; /** Experimentar escrever algo pra ver o before explicado acima */
    position: absolute;
    width: 0;
    height: 2px; /** grossura da linha sublinhada */
    bottom: -4px; /** distância da linha pro nome  o - faz efeito de sublinhar*/
    /**left: 0px; /** ajustar ao margin-left: -7px que coloquei pra para que realinhasse a box da navbar a esquerda */
    background-color: #18d26e;
    visibility: hidden; /** mantem oculta até o que o rato passe em cima */
    width: 0px;
    transition: all 0.3s ease-in-out 0s; /** aplica transição suave em todas as propriedades acima */

  }
#navbar1.navbar a:hover:before,
#navbar1.navbar li:hover>a:before,
#navbar1.navbar .active:before { /** torna o before visivel quando é :hover e quando é active */
  visibility: visible;
  width: 30px;
}

#navbar1 .navbar-toggler {
    background-color: red; /* altere a cor de fundo conforme necessário */
  }
  
  
/** Social Links ===================================== */

#header .social-links {
    margin-top: 15px;
    }



.navbar-toggler {
    background-color: red; /* altere a cor de fundo conforme necessário */
  }