html{
    background: #ffffff url("/Template_Web/assets/images/foto_site_1.jpg") no-repeat top fixed !important;
    opacity: 0.2;
}
:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}


body {

    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
    opacity: 0 !important;
}   


