
body{
        background-color:rgb(255, 255, 255);
        font-family: 'Lucida Sans';
}
header, footer{
    text-align: center;
}
header>img{
    width: 50%;
}
nav, footer{
    background-color: gray;
    padding: 20px;
}
nav a:hover{
    background-color: aqua;
}
.branca{
    color: brown;
}
nav a{
    color: white;
    text-decoration: none;
}
p{
    text-align: justify;
}



